.resetRequestForm-container,
.resetPasswordForm-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 52, 90, 0.5);
}

.resetRequestForm,
.resetPasswordForm {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    border-radius: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.inputs-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.inputs-list li {
  width: 100%;
  position: relative;
  display: block;
}

.inputs-list li input {
  width: 100%;
  padding: 1rem 1rem 0.5rem;
  font-size: 1.2rem;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

  .btn-reset {
    width: 100%;
    color: #ffffff;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 6px;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1rem;
  }

  .btn-close {
    margin-bottom: 0.5rem;
    background-color: white;
    color: rgb(14, 52, 90);
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }

  .error-container {
    width: 100%;
    color: rgb(223, 17, 17);
    font-size: 1rem;
    font-weight: lighter;
    padding: 0.5rem 1rem 0.5rem;
  }

  .isValid {
    background-color: rgb(14, 52, 90);
    cursor: pointer;
  }

  .isNotValid {
    background-color: rgb(14, 52, 90, 0.5);
    cursor: not-allowed;
  }

  .isNotValid:hover {
    cursor: not-allowed;
  }

 .fa-icon {
    font-size: 1.2rem;
    margin: 0;
  }

  .error-container .fa-icon {
    margin-right: 10px;
  }

  .btn-close .fa-icon {
    font-size: 1.5rem;
    display: block;
  }

