
.details-container {
    max-width: 100%;
    margin:4rem 1rem 6rem 0;
    display:flex;
    justify-content: right;
    
}

.right-container {
    width: 40%;
}

.img-container {
    width: 100%;
   
    background-color: #f2f2f2;
}

.img-container img {
    display:block;
    width:100%;
    height: 100%;
    object-fit: cover;
    border: 4rem solid  #f2f2f2;
    border-left: 8rem solid #f2f2f2 ;
    border-right: 8rem solid #f2f2f2 ;
}

.description {
    margin-top: 4rem;
    font-size: 1.2em;
}

.left-container {
    width:40%;
    margin-left: 2rem;
}

.book-name {
    font-size: 2em;
   
}

.book-author {
    font-size: 1.4em;
    font-style: oblique;
    text-decoration:underline;
    margin-bottom: 2rem;
}

.book-price {
    font-size: 2em;


}

.quantity label {
    display:block;
    margin-top: 1rem;
}

.quantity input[type=number] {
    width: 6rem;
    font-size: 1em;
   padding: 1rem 0.2rem 1rem 1rem;
   border: 1px solid  #818c96;
   color: #818c96;
   
}

.quantity input[type=number]:focus {
   outline: none;
}

.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button { 
    height: 5rem;
    
}


.btns-container {
    margin-top: 3rem;

}

.btns-container button {
    display:block;
    width:70%;
    background-color: #0e345a;
    color:azure;
    font-size: 1.4em;
    padding:0.5em;
    margin-bottom: 1rem;
    cursor: pointer;

}

