@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');


.logo {
    margin-bottom: 3em;
}

.sign-up {
    font-size: 2em;
    margin-bottom: 1em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
}

.form-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    width:40%;
    padding:1em 3em;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
 
}

.form-container label {
    font-weight: 600;
}

.form-container input {
    margin-bottom: 1em;
  font-size: 1em;
  padding: 0.2em 0.4em;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.form-container input[type="submit"] {
    background-color: #0099aa;
    color: white;
    font-size: 1em;
    padding: 0.4em;
    margin-top: 1em;
    cursor: pointer;
    
    
}

.form-container a {
    color:  #0099aa;

}