

.home {
  
    height:100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100vh;
    position: relative;
    
  }

.background img {
    display:block;
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  q {
   display:block;
  }

  .slogan {
    width:40%;
    margin-left:5%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    position: absolute;
    top:10rem;
 
  }